
@{
    ViewBag.Title = "Add";
}

    <form action="/Task/AddPost" method="post">
        Name: <input type="text" name="Name" value="" /><br />
        Description: <input type="text" name="Description" value="" /><br />
        Tag: <input type="text" name="Tag" value="" /><br />
        <input type="submit" name="Sub" value="Add" />
    </form>
    <br />
    <a href="Task/Index">Index</a>

